/* You can add global styles to this file, and also import other style files */

.board{
    width: 700px;
    position: absolute;
    z-index: 10;  
}

.boardTile{
    background-color: rgb(237, 237, 237);
}

.selectRowTile{
    background-color: white;
}

.selectRowTile:hover{
    background-color: #3535ff82;
    cursor: pointer;
}